<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.AccountDaoMapper">

	<!-- 获取所有Account实体 -->
	<select id="getAllAccounts" resultType="web.entity.Account">
		SELECT * FROM account
	</select>

	<!-- 传入一个Account实体向表中插入一行数据，并返回结果信息int（受影响行数） -->
	<insert id="addAccount" parameterType="web.entity.Account">
		insert into account
		values(
		#{accountId} , #{password} , #{accountNo} , #{staffNo} )
	</insert>

	<!-- 传入一个Account实体，使表中与accountId匹配的数据更新为传入Account实体的数据，并返回结果信息int（受影响行数） -->
	<update id="updateAccount" parameterType="web.entity.Account">
		update account set
		password=#{password} , accountNo=#{accountNo} , staffNo=#{staffNo}
		where accountId=#{accountId}
	</update>

	<!-- 通过accountId删除表中的一行数据，并返回结果信息int（受影响行数） -->
	<delete id="deleteAccount" parameterType="int">
		delete from account
		where
		accountId = #{accountId}
	</delete>

</mapper>