<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.AttendanceErrorDaoMapper">

	<!-- 获取所有AttendanceError实体 -->
	<select id="getAllAttendanceErrors"
		resultType="web.entity.AttendanceError">
		SELECT * FROM attendanceerror
	</select>

	<!-- 传入一个AttendanceError实体向表中插入一行数据，并返回结果信息int（受影响行数） -->
	<insert id="addAttendanceError"
		parameterType="web.entity.AttendanceError">
		insert into attendanceerror
		values(
		#{attendanceErrorId} ,
		#{staffNo} , #{errorDate} ,
		#{errorType} , #{errorReason} )
	</insert>

	<!-- 传入一个AttendanceError实体，使表中与attendanceErrorId匹配的数据更新为传入AttendanceError实体的数据，并返回结果信息int（受影响行数） -->
	<update id="updateAttendanceError"
		parameterType="web.entity.AttendanceError">
		update attendanceerror set staffNo=#{staffNo} ,
		errorDate=#{errorDate} , errorType=#{errorType} ,
		errorReason=#{errorReason} where
		attendanceErrorId=#{attendanceErrorId}
	</update>

	<!-- 通过attendanceErrorId删除表中的一行数据，并返回结果信息int（受影响行数） -->
	<delete id="deleteAttendanceError" parameterType="int">
		delete from
		attendanceerror
		where
		attendanceErrorId = #{attendanceErrorId}
	</delete>

</mapper>