<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.StaffDao">
	<select id="findStaffByNo" resultType="web.entity.Staff" parameterType="string">
		select * from staff where staffNo = #{no}
	</select>

	<select id="getStaffs" resultType="web.entity.Staff">
		select * from staff
	</select>
	
	<insert id="addStaff" parameterType="web.entity.Staff" >
		<!-- insert into staff(staffId,staffNo,staffName,birthDate,phoneNo,qq,wechat,email,sex,identity,
		bank,bankAccount,nationality,nativePlace,nation,school,degree,major,address,departmnetName,postName,photo) -->
		
		insert into staff values(#{staffId},#{staffNo},#{staffName},#{birthDate},#{phoneNo},#{qq},#{wechat},
		#{email},#{sex},#{identity},#{bank},#{bankAccount},#{nationality},#{nativePlace},#{nation},#{school},
		#{degree},#{major},#{address},#{departmentNo},#{postNo},#{photo})
	</insert>
	
	<update id="updateStaff" parameterType="web.entity.Staff">
		update staff set staffNo=#{staffNo},staffName=#{staffName},birthDate=#{birthDate},phoneNo=#{phoneNo},qq=#{qq},wechat=#{wechat},
		email=#{email},sex=#{sex},identity=#{identity},bank=#{bank},bankAccount=#{bankAccount},nationality=#{nationality},nativePlace=#{nativePlace},
		nation=#{nation},school=#{school},degree=#{degree},major=#{major},address=#{address},departmentNo=#{departmentNo},
		postNo=#{postNo},photo=#{photo}
		where staffId = #{staffId}
	</update> 
	
	<delete id="deleteStaffById" parameterType="int">
		delete from staff where staffId = #{staffId}
	</delete>
	
	<select id="findStaffs" resultType="web.entity.Staff" parameterType="web.entity.Staff">
	select * from staff where 1=1
		<if test="staffId != 0">AND staffId = #{staffId}</if>
		<if test="staffName != null"> AND staffName = #{staffName}</if>
		<if test="birthDate != null">AND birthDate = #{birthDate} </if>
		<if test="phoneNo != null">AND phoneNo = #{phoneNo} </if>
		<if test="qq != null">AND qq = #{qq} </if>
		<if test="wechat != null">AND wechat = #{wechat} </if>
		<if test="email != null">AND email = #{email} </if>
		<if test="sex != null">AND sex = #{sex} </if>
		<if test="identity != null">AND identity = #{identity} </if>
		<if test="bank != null">AND bank = #{bank} </if>
		<if test="bankAccount != null">AND bankAccount = #{bankAccount} </if>
		<if test="nationality != null">AND nationality = #{nationality} </if>
		<if test="nativePlace != null">AND nativePlace = #{nativePlace} </if>
		<if test="nation != null">AND nation = #{nation} </if>
		<if test="school != null">AND school = #{school} </if>
		<if test="degree != null">AND degree = #{degree} </if>
		<if test="major != null">AND major = #{major} </if>
		<if test="departmentNo != null">AND departmentNo = #{departmentNo} </if>
		<if test="postNo != null">AND postNo = #{postNo} </if>
		<if test="address != null">AND address = #{address} </if>
		<if test="photo != null">AND photo = #{photo} </if>
	</select>
</mapper>